<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta charset="UTF-8" />
<title>Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="/src/css/layout.css" type="text/css"/>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
	<body ng-app="myApp">
		<div>
			<%- include ../../views/partials/_testimonial %>
		</div>
		<div>
			<%- include ../../views/partials/_cta %>
		</div>
		<div>
			<%- include ../../views/partials/_filterable-content %>
		</div>
		<script type="text/javascript" src="/src/js/index.js"></script>
	</body>
</html>